


body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

header{
    background-color:#26335D;
}

.upper_header{
    display: flex;
    justify-content: center;
}

#upper_header_wrapper{
    width: 90%;
}

#inside_header_wrapper{
    padding: 0% 10%;
    display: flex;
    justify-content: space-between;
}

#inside_header_wrapper h3{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: white;
}

#upper_header_links_wrapper{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#upper_header_right_links{
    width: 30%;
    display: flex;
    align-items: center;
}

#upper_header_right_links a{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 0% 3%;
}

#log_in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

#log_in a{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: right;
    color: white;
    text-decoration: none;
}

#join{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#join button{
    height: 5vh;
    width: 70%;
    background-color:#1BC768;
    border: none;
    padding: 0% 10% ;
    text-align: left;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.lower_header{
    display: flex;
}

#lower_left{
    width: 50%;
    padding: 10% 0%;
}

#lower_left_text{
    width: 70%;
    position: relative;
    left: 15%;
    
}

#lower_left h5{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #1BC768;
    margin-top: 0%;
}

#lower_left h1{
    font-family: Montserrat;
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: white;
    width: 80%;
}

#lower_left h4{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: white;
    width: 50%;
}

#lower_left_buttons{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

#quote_button{
    height: 5vh;
    width: 45%;
    background-color: #1BC768;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#more_button{
    height: 5vh;
    width: 45%;
    background-color: transparent;
    border: solid 1px  #1BC768;
    border-radius: 5px; 
    color: white;
    cursor: pointer;
}

#lower_right{
    width: 50%;
}

#wrapper_lower_right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#right_images{
    position: relative;
    justify-items: center;
    width: 90%;
}

#background_img{
    position: absolute;
    right: 40%;
    width: 55%;
}

#main_img{
    position: relative;
    left: 35%;
    opacity: 90%;
    width:55%;
}

.main_top{
    display: flex;
    justify-content: center;
    margin: 10% 0%;
}

#main_top_wrapper{
    width: 75%;
}

#online_appointment{
    margin-bottom: 5%;
}

#online_appointment h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #1BC768;
}

#online_appointment h2{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #252B42;
}

#online_appointment p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

#appointment_pics_wrapper{
    display: flex;
    justify-content: space-between;
}

#appointment_pics_wrapper img{
    position: relative;
    margin-top: 10%;
    padding: 5%;
    left: 5%;
    border-radius: 10px;
}

#appointment_pics_wrapper h5{
    width: 60%;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;
}

#appointment_pics_wrapper p{
    width: 50%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
    padding-bottom: 10%;
}

#appointment_pics_wrapper hr{
    position: relative;
    height: 2px;
    margin: 0;
    left: 0;
    width: 20%;
    background-color: #E74040;
    border: none;
}

#appointment_pics1{
    display: block;
    width: 19%;
    margin: 0% 0% 5% 0%;
    padding: 0% 0% 0% 3%;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 10px;
    box-shadow: 1px 3px 4px gray;
}

#appointment_pics1 img{
    background-color: white;
}


#appointment_pics1:hover{
    background-color:#1BC768;
}
#appointment_pics1:hover h5{
    color: white;
}

#appointment_pics1:hover hr{
    background-color: white;
}

#appointment_pics1:hover p{
    color: white;
}

#appointment_pics2{
    width: 19%;
    margin: 5% 0% 0% 0%;
    padding: 0% 0% 0% 3%;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 10px;
    box-shadow: 1px 3px 4px gray;
}

#appointment_pics2 img{
    background-color: #DDEEFE;
}

#appointment_pics2:hover{
    background-color:#1BC768;
}

#appointment_pics2:hover h5{
    color: white;
}

#appointment_pics2:hover hr{
    background-color: white;
}

#appointment_pics2:hover p{
    color: white;
}

#appointment_pics3{
    width: 19%;
    margin: 0% 0% 5% 0%;
    padding: 0% 0% 0% 3%;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 10px;
    box-shadow: 1px 3px 4px gray;
}

#appointment_pics3 img{
    background-color: white;
}

#appointment_pics3:hover{
    background-color:#1BC768;
}

#appointment_pics3:hover h5{
    color: white;
}

#appointment_pics3:hover hr{
    background-color: white;
}

#appointment_pics3:hover p{
    color: white;
}

#appointment_pics4{
    width: 19%;
    margin: 5% 0% 0% 0%;
    padding: 0% 0% 0% 3%;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
    box-shadow: 1px 3px 4px gray;
}

#appointment_pics4 img{
        background-color: #DDEEFE;
}

#appointment_pics4:hover{
    background-color:#1BC768;
}

#appointment_pics4:hover h5{
    color: white;
}

#appointment_pics4:hover hr{
    background-color: white;
}

#appointment_pics4:hover p{
    color: white;
}

.Practice_advice{
    display: flex;
    justify-content: center;
}

#Practice_advice_wrapper{
    width: 75%;
}

#advice_wrapper_text{
    padding-bottom: 10%;
}

#advice_wrapper_text h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #1BC768;
}

#advice_wrapper_text h2{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #252B42;
}

#advice_wrapper_text p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

#advice_wrapper_img{
    display: flex;
    justify-content: space-between;
}


#item_img h6{
    position: absolute;
    top: 5%;
    left: 8%;
    padding: 0%;
    background-color: #E74040;
    width: 25%;
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: white;
    margin: 0;
}

#item_img #img2{
    position: absolute;
    bottom: 4%;
}

#item_img{
    position: relative;
}

#item_img div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#item_img #img1{
    width: 100%;
}

#wrapper_img_item{
    width: 23%;
}

#item_text{
    padding: 5% 0%;
}

#item_text a{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    text-decoration: none;
    color: #1BC768;
}

#item_text_main{
    display: flex;
    justify-content: center;
}

#item_text_wrapper{
    width: 80%;
}

#text_head{
    display: flex;
    justify-content: space-between;
}

#download{
    display: flex;
    align-items: center;
}

#download img{
    width: 7%;
    height: 7%;
    padding-right: 4%;
}

#download h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
    margin: 0%;
}

#price{
    display: flex;
}

#item_text_wrapper button{
    text-align: center;
    width: 70%;
    height: 20%;
    border: solid 1px #1BC768 ;
    border-radius: 37px;
    cursor: pointer;
}

button h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #1BC768;
    margin: 0%;
    text-align: center;
}

#item_text_wrapper #text_title{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;
}

#item_text_wrapper p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

#gray{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #BDBDBD;
    padding-right: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
}

#blue{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #5D5DF9; 
    margin-top: 4%;
    margin-bottom: 4%;
}

.reference{
    display: flex;
    justify-content: center;
    margin: 10% 0%;
    padding: 5% 0%;
    background-color: #26335D;
}

#reference_wrapper{
    width: 75%;
    display: flex;
    height: 100%;
}

#reference_wrapper_left{
    width:50%;
    position: relative;
    height: 100%;
    padding: 4% 0%;
}

#orange{
    position: absolute;
    right: 0;
    top: 0;
}

#doctor{
    position: relative;
    left: 25%;
    top: 15%;
    width: 70%;
}

#smile{
    position: absolute;
    bottom: 0;
    left: 13%;
    width: 40%;
}

#reference_wrapper_right{
    width:50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#reference_inside_wrapper_right{
    width: 80%;
}

#reference_inside_wrapper_right hr{
    width: 30%;
    position: relative;
    margin: 0;
    left: 0;
    height: 7px;
    background-color: #E74040;
    border: none;
}

#reference_inside_wrapper_right h2{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: white;
}

#reference_inside_wrapper_right p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: white;
}

#reference_inside_wrapper_right a{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #1BC768;
    text-decoration: none;
}

#div1 h3{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;
}

#inside_div1_div{
    display: flex;
    align-items: center;
}

#inside_div1_div img{
    width: 10%;
    padding-right: 1%;
}

#inside_div1_div h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #252B42;
    margin: 0;
    padding: 5% 0%;
}

#top_h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

#pricing_price h2{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #1BC768;
    margin: 0;
}

#pricing_price h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #8EC2F2;
    margin: 0%;
}

#div1_p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

#div1 button{
    width: 100%;
    height: 5vh;
    background-color: #1BC768;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.Pricing{
    display: flex;
    justify-content: center;
}

#pricing_wrapper{
    width: 75%;
}

#pricing_div_wrapper{
    display: flex;
    justify-content: space-between;
}

#div_outside{
    width: 30%;
    display: flex;
    justify-content: center;
    border: 1px rgb(255, 255, 255) solid;
    box-shadow: 1px 3px 4px gray;
}

#div_outside2{
    width: 30%;
    display: flex;
    justify-content: center;
    position: relative;
    border: 1px rgb(255, 255, 255) solid;
    box-shadow: 1px 3px 4px gray;
}

#div1{
    width: 80%;
}

#top_img{
    padding-top: 30%;
}

#top_left_img{
    position: absolute;
    top: -5%;
    right: -10%;
    width: 20%;
}

#pricing_title h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #1BC768;
    margin: 0%;
}

#pricing_title h2{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #252B42;
    margin: 0%;
}

#pricing_title p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
    padding-bottom: 10%;
}

.experts{
    display: flex;
    justify-content: center;
}

#experts_wrapper{
    width: 75%;
}

#experts_title{
    padding: 20% 0% 8% 0%;
}

#experts_photos_wrapper{
    display: flex;
    justify-content: space-between;
}

#experts_pics{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8%;
}

#exp_img{
    border-radius: 50%;
}

#experts_title h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #1BC768;
}

#experts_title h2{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #252B42;
}

#experts_title p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

#experts_pics p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #737373;
}

#experts_pics h5{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #252B42;
    margin: 0;
    padding-top: 2%;
}

#experts_pics h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #737373;
    margin: 0%;
}

.joinus{
    display: flex;
    justify-content: center;
    background-color: #26335D;
    padding-top: 8%;
}

#joinus_wrapper{
    width: 75%;
    display: flex;
    justify-content: center;
}

#joinus_inside{
    width: 70%;
}

#joinus_inside h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #1BC768;
    margin: 0;
}

#joinus_inside h2{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: white;
    margin: 0;
}

#joinus_inside p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: white;
    padding-bottom: 5%;
}   

#join_input{
    display: flex;
    justify-content: center;
    padding-bottom: 8%;
}

#inside_join{
    width: 70%;
    position: relative;
    margin-bottom: 10%;
}

#inside_join input{
    width: 100%;
    height: 200%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
    border-radius: 5px;
}

#inside_join button{
    position: absolute;
    top: 12%;
    right: -0.5%;
    height: 200%;
    border-radius: 0px 5px 5px 0px;
    border: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: white;
    background-color: #1BC768;
    cursor: pointer;
}

#upper_footer{
    display: flex;
    justify-content: center;
}

#upper_footer_wrapper{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

#footer_div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}

#footer_div h5{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;
}

#footer_div a{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    text-decoration: none;
    color: #737373;
}

#footer_div1 h5{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;
}

#footer_div1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    width: 23%;
}
#footer_div1 div{
    display: flex;
    align-items: center;
    height: 15%;
}

#footer_div1 div img{
    height: 70%;
    margin-right: 2%;
}

#footer_div1 div h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

#lower_footer{
    display: flex;
    justify-content: center;
}

#lower_footer_wrapper{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lower_footer_wrapper h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

#lower_footer_wrapper div{
    display: flex;
    justify-content: space-between;
    width: 8%;
}

#lower_footer_wrapper a{
    cursor: pointer;
}