
    :root{
        --choose_w: 170px; 
        --choose_h: 221px;
    }


body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    height: 100vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("/workshop!/imgs/woman-traveler-with-backpack-walking-yasaka-pagoda-sannen-zaka-street-kyoto-japan\ 1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
}

header hr{
    width: 80%;
}

.header{
    display: flex;
    justify-content: center;
}

.header #divv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.header div h1{
    color: white;
}

.header div h1 span{
    color:#FFA902;
}

#Search{
    display: flex;
    align-items: center;
    width: 50%;
}
#Search img{
    position: relative;
    left: 5%;
}

#Search input{
    width: 100%;
    height: 53px;
    border-radius: 30px;
    border: none;
    padding-left: 60px;
}

#social{
    display: flex;
    justify-content: space-between;
}

#social a:hover{
    background-color:#FFA902;
}

#header2 {
    display: flex;
    justify-content: center;
}

.header2 #header2 div{
    width: 789px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.header2 p{
    color: white;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
}
.header2 a{
    text-decoration: none;
}

#header3{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    color: white;
}
#header3_text{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

#header3_title{
    font-family: Poppins;
    font-size: 75px;
    font-weight: 700;
    line-height: 113px;
    letter-spacing: 0em;
    text-align: center;
}

#header3_bottom{
    color:#FFA902;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 0em;
    text-align: center
}

#header3_bottom p{
    color: #FFA902
}

#header3 div{
    width: 47.6%;
    
}

.choose{
    display: flex;
    justify-content: center;
}

#choose_wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#heading{
    text-align: center;
    padding-bottom: 20px;
}

#pics{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pics p{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
#pics a{
    text-decoration: none;
}

#solo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(/workshop!/imgs/choose/Rectangle\ 6.jpg);
    height: var(--choose_h);
    width: var(--choose_w);
    border-radius: 10px;
}

#mount{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/workshop!/imgs/choose/Rectangle\ 4.jpg);
    height: var(--choose_h);
    width: var(--choose_w);
    border-radius: 10px;
}

#jungle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/workshop!/imgs/choose/Rectangle\ 5.jpg);
    height: var(--choose_h);
    width: var(--choose_w);
    border-radius: 10px;
}

#road{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/workshop!/imgs/choose/Rectangle\ 3.jpg);
    height: var(--choose_h);
    width: var(--choose_w);
    border-radius: 10px;
}

#ocean{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/workshop!/imgs/choose/Rectangle\ 7.jpg);
    height: var(--choose_h);
    width: var(--choose_w);
    border-radius: 10px;
}

#old{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/workshop!/imgs/choose/Rectangle\ 8.jpg);
    height: var(--choose_h);
    width: var(--choose_w);
    border-radius: 10px;
}

#lower{
    display: flex;
    justify-content: center;
}

#lower img{
    padding: 40px 5px 0px 5px;
}

.featured{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

#featured_wrapper{
    width: 77%;
    text-align: center;


}

#featured_title{
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
}

#featured_div{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 3% 0px;
}

#inside_div{
    width: 30%;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 10px;
    box-shadow: 1px 3px 4px gray ;
}

#inside_div img{
    width: 100%;
    border-radius: 10px;
}

#inside_p{
    padding: 10px 25px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #868383;
}

#upper_p{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #141414;
    padding: 0px 25px;
}

#inside_div #bottom_p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

#inside_link{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #FFA902;
    padding: 0px 10px 0px 25px;
}

#inside_div span{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #696969;
 }

#featured_div_low{
    display: flex;
    justify-content: center;
 }
#featured_low_div{
    width: 8.7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

#featured_low_div{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;    
 }

#featured_low_div p:hover{
    color:#FFA902;
 }

#featured_low_div a{
    text-decoration: none;
    color: black;
 }

.last_blog{
    text-align: center;
 }
 #blog_title{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;    
 }

 .last_blog #wrapper{
    display: flex;
    justify-content: center;
 }

 #inside_wrapper{
    width: 77%;
 }

 #horizontal{
    display: flex;
    justify-content: space-between;
 }
 #vertical_l{
    width: 65.9%;
 }

 #vertical_l_div{
    display: flex;
    justify-content: space-between;
 }

 #vertical_r{
    width: 29.5%;
 }
 #blog_text{
    padding-left:3% ;
 }

 #blog_inside_title{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
 }

 #blog_upper_autor{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
 }

 #blog_upper_link{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFA902;
 }

 #blog_upper_autor span{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color:#696969 ;
 }

 #blog_date{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #868383;
 }

 #blog_date a{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFA902;
 }

 #blog_p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #868383;
 }

 #blog_link{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFA902;
 }

 #vertical_r_div{
    margin-top: 7%;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 10px;
    box-shadow: 1px 3px 4px gray ;
 }

 #vertical_r_div1{
    margin-top: 10%;
 }

 #popular_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0px 3%;
 }

 #popular_img{
    border-radius: 5px;
    height: 60px;
    padding: 0px 0px 3% 0px;
 }

 #r_title{
    position: relative;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    width: 45%;
 }

 #r_blog_title{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0%;
 }

 #r_blog_autor{
    font-family: Poppins;
    font-size: 8px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0%;
 }

 #r_blog_link{
    font-family: Poppins;
    font-size: 8px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFA902;
 }

 #r_blog_autor span{
    font-family: Poppins;
    font-size: 8px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: left;
    color: #696969;
 }

 #r_blog_date{
    font-family: Poppins;
    font-size: 8px;
    font-weight: 400;
    line-height: 9px;
    letter-spacing: 0em;
    text-align: left;
 }

 #r_blog_date a{
    color: #FFA902;
 }

 #social_wrapper{
    width: 80%;
 }

 #follow_title{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    width: 70%;
    padding-left: 7%;
 }

 #r_social{
    display: flex;
    justify-content: space-between;
 }

#subscribe_wrapper{
    background: #FFA902;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    width: 100%;
    height: 36vh;
}

 #subscribe_inner{
    padding:4% 0% 0% 0%;
    width: 85%;
 }

 #subscribe_title{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0%;
    color: white;
 }

 #subscribe_text{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
 }

 #input_subscribe{
    width: 100%;
    height: 14%;
    margin-bottom: 2%;
    border-radius: 8px;
    border: none;
 }
  
 #subscribe_checkbox1{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
 }

#subscribe_button{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFA902;
    width: 100%;
    height: 13%;
    border-radius: 8px;
    border: none;
 }

#subscribe_button:hover {
    cursor: pointer;
  }

#tags_inside_wrapper p{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 7%;
  }

  #tags_inside_wrapper a{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;    
    color: #FFA902;
  }

  #tags_info{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3%;
  }

  #blog_scroller{
    display: flex;
    justify-content: center;
    width: 20%;
  }

  #blog_scroller p:hover{
    color:#FFA902;
 }


  #blog_low_div{
    display: flex;
    justify-content: space-between;
    width: 10vh;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    align-items: center;
  }
  #blog_low_div a{
    text-decoration: none;
    color: black;
  }

  #vertical_l_div1{
    display: flex;
    justify-content: center;
  }

  #places_title{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
  }

  #places_img{
    width: 100%;
  }

  .video{
    background-image: url(/workshop!/imgs/video/Rectangle\ 52.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    padding-top: 8%;
  }

  #video_title{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }

  #video_text{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }

  #video_div{
    display: flex;
    justify-content: center;
  }

  #inside_video_logo{
    padding-top: 15%;
  }

  #video_wrapper{
    width: 35%;
  }

  #video_width{
    display: flex;
    justify-content: center;
  }

#circle_part{
    position: relative;
}

  #video_lower_p{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    padding-bottom: 8%;
  }

   #video_lower_a{
    text-decoration: none;
   }

   .bottom_images{
    margin-top: 5%;
    text-align: center;
   }

   #flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
   }

   #mid1{
    width: 24.12%;
   }

   #mid2{
    width: 24.12%;
   }

   #mid3{
    width: 24.12%;
   }

   #side_photos{
    height: 35vh;
   }

   #bottom_title{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    margin-bottom: 0;
   }

   #bottom_ig{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    color: #FFA902;
    margin-top: 0;
   }

   #hover_photo{
    position: relative;
    right: 13.5%;
    color: white;
    display: none;
   }

   #bottom_photos1{
    display: flex;
    align-items: center;
    padding-top: 150%;
   }

   #bottom_photos1 img{
    height: 100%;
   }

   #top_photos{
    padding-bottom: 150%;
   }

   #mid1:hover{
    filter: brightness(50%);
   }

   #mid1:hover + #hover_photo{
    display: block;
   }

   #mid2:hover{
    filter: brightness(50%);
   }

   #mid2:hover + #hover_photo{
    display: block;
   }

   #mid3:hover{
    filter: brightness(50%);
   }

   #mid3:hover + #hover_photo{
    display: block;
   }

   #bottom_link{
    text-decoration: none;
   }

   .footer{
    display: flex;
    justify-content: center;
    background-color: #FFA902;
    margin-top: 5%;
   }

   #footer_wrapper{
    width: 95%;
   }

   #inside_footer{
    display: flex;
    justify-content: space-between;
   }

   #footer_links{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   #footer_links a{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    color: white;
    text-decoration: none;
   }

   #footer_copyright{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
   }

   #footer_social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    #footer_social a:hover{
    background-color:#FFA902;
    }
